@model AppLogin.ViewModels.LoginVM;
@{
    Layout = null;
}

<html>
<head>
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h3>Iniciar Sesion</h3>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Acceso" asp-action="Login">                        
                        <div>
                            <label for="correo">Correo:</label>
                            <input type="email" id="correo" class="form-control" asp-for="Correo" />
                        </div>
                        <div>
                            <label for="contrasena">Contraseña:</label>
                            <input type="password" id="clave" class="form-control" asp-for="Clave" />
                        </div>
                        <div class="d-grid gap-2 mt-3">
                            <button class="btn btn-primary" type="submit">Ingresar</button>
                        </div>


                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger mt-3" role="alert">
                                @ViewData["Mensaje"]
                            </div>
                        }
                        ¿No tienes una cuenta? <a asp-controller="Acceso" asp-action="Registrarse">Registrate ya!</a>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
